---
import BaseLayout from "../layouts/BaseLayout.astro";

return Astro.redirect("/");
---
<BaseLayout>
    <div class="flex items-center justify-center min-h-screen bg-black/30 backdrop-blur-2xl">
        <div class="bg-cyan-50 p-4">
            <h1 class="text-4xl text-red-600">404</h1>
            <p class="text-xl">The page was not found</p>
        </div>
    </div>
</BaseLayout>