---
import StudentLayout from "../layouts/StudentLayout.astro";
import HomeNavStudent from "../components/student/HomeNavStudent";
import UpcomingTest from "../components/student/UpcomingTest";
---

<StudentLayout title="Dashboard">
	<div class="p-4 min-h-screen mt-18 bg-cyan-200">
		<HomeNavStudent client:load />
		
		<h1 id="welcome-heading" class="text-3xl font-bold mb-4 text-center">
			Welcome,
		</h1>
		
		<p class="text-lg mb-6 text-center">
			Here you can find your upcoming tests and other important information.
		</p>
		
		<hr class="my-6 border-gray-300" />
		
		<UpcomingTest client:load />
	</div>

	<script is:inline>
		const student = JSON.parse(localStorage.getItem("student") || "{}");
		const fullName = student.fullName || "Student";
		document.getElementById("welcome-heading").innerText = 
			`Welcome,\n ${fullName}`;
	</script>
</StudentLayout>
