---
import StudentLayout from "../../layouts/StudentLayout.astro";

return Astro.redirect("/");
---
<StudentLayout>
    <div class="flex items-center justify-center min-h-screen bg-black/30 backdrop-blur-2xl">
        <div class="bg-cyan-50 p-6 rounded-lg">
            <h1 class="text-4xl text-yellow-600">Hold tight!</h1>
            <p class="text-xl">Taking you to the dashboard.</p>
        </div>
    </div>
</StudentLayout>