---
import StudentLayout from "../../layouts/StudentLayout.astro";
import StudentTestPage from "../../components/student/StudentTest";
import StudentNav from "../../components/student/StNav"
---

<StudentLayout>
    <StudentNav client:load />
    
   <main class="flex flex-col items-center p-4 flex-1 mt-18">

    <StudentTestPage client:load/>

    </main>
    
</StudentLayout>